[submodule "extern/openvdb"]
	path = extern/openvdb
	url = https://github.com/dreamworksanimation/openvdb
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw
[submodule "extern/replxx"]
	path = extern/replxx
	url = https://github.com/AmokHuginnsson/replxx
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/ordered-map"]
	path = extern/ordered-map
	url = https://github.com/Tessil/ordered-map
[submodule "extern/double-conversion"]
	path = extern/double-conversion
	url = https://github.com/google/double-conversion.git
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/libfive"]
	path = extern/libfive
	url = https://github.com/curv3d/libfive
[submodule "extern/shaderc"]
	path = extern/shaderc
	url = https://github.com/google/shaderc.git
