[submodule "extern/openvdb"]
	path = extern/openvdb
	url = https://github.com/dreamworksanimation/openvdb
[submodule "extern/replxx"]
	path = extern/replxx
	url = https://github.com/AmokHuginnsson/replxx
